{% extends 'sightings/index.html' %}
{% block main %}

<div><img src="https://pbs.twimg.com/profile_images/1103117287/image_400x400.jpg" alt="" width="72" height="57" />
<h2>New Squirrel Sighting</h2>
<p>Amazing! You saw a brand new, untracked squirrel. If you don't mind, we would sincerely appreciate you taking the time to provide some data about the novel rodent. :)</p>
</div>
<div>
<h4>Squirrel Info</h4>
<form novalidate="">
<div>
<div><label for="Latitude">Latitude</label> <input required="" type="text" value="" placeholder="" />
<div>Valid Latitude is required.</div>
</div>
<p>EXTRA SPACE</p>
<div><label for="Longitude">Longitude</label> <input required="" type="text" value="" placeholder="" />
<div>Valid Longitude is required.</div>
</div>
<div><label for="UniqueSquirrelID">Unique Squirrel ID</label>
<div><input required="" type="text" placeholder="SquirrelID" />
<div>Squirrel ID is required.</div>
</div>
</div>
<div><label for="Shift">Shift</label><select required="">
<option value="">Choose...</option>
<option>AM</option>
<option>PM</option>
</select></div>
<div><label for="Date">Date</label> <input required="" type="text" placeholder="12/12/2019" />
<div>Please enter the date of the sighting.</div>
</div>
<div><label for="Age">Age</label><select required="">
<option value="">Choose...</option>
<option>Adult</option>
<option>Juvenile</option>
</select></div>
<div><label for="Primary_Fur_Color">Primary Fur Color</label><select required="">
<option value="">Choose...</option>
<option>Black</option>
<option>Gray</option>
<option>Cinnamon</option>
</select></div>
<div><label for="Location">Location</label><select required="">
<option value="">Choose...</option>
<option>Above Ground</option>
<option>Ground Plane</option>
</select></div>
<div><label for="SpecificLocation">Specific Location</label>
<div><input required="" type="text" placeholder="By a tree" /></div>
</div>
<div><label for="OtherActivities">Other Activities</label>
<div><input required="" type="text" placeholder="Dancing in the moonlight" /></div>
</div>
<div><label for="Running">Running?</label><select required="">
<option value="">Choose...</option>
<option>True</option>
<option>False</option>
</select></div>
<div><label for="Chasing">Chasing?</label><select required="">
<option value="">Choose...</option>
<option>True</option>
<option>False</option>
</select></div>
<div><label for="Climbing">Climbing?</label><select required="">
<option value="">Choose...</option>
<option>True</option>
<option>False</option>
</select></div>
<div><label for="Eating">Eating?</label><select required="">
<option value="">Choose...</option>
<option>True</option>
<option>False</option>
</select></div>
<div><label for="Foraging">Foraging?</label><select required="">
<option value="">Choose...</option>
<option>True</option>
<option>False</option>
</select></div>
<div><label for="Kuks">Kuks?</label><select required="">
<option value="">Choose...</option>
<option>True</option>
<option>False</option>
</select></div>
<div><label for="Quaas">Quaas?</label><select required="">
<option value="">Choose...</option>
<option>True</option>
<option>False</option>
</select></div>
<div><label for="Moans">Moans?</label><select required="">
<option value="">Choose...</option>
<option>True</option>
<option>False</option>
</select></div>
<div><label for="TailFlags">Tail Flags?</label><select required="">
<option value="">Choose...</option>
<option>True</option>
<option>False</option>
</select></div>
<div><label for="Tail Twitches">Tail Twitches?</label><select required="">
<option value="">Choose...</option>
<option>True</option>
<option>False</option>
</select></div>
<div><label for="Approaches">Approaches?</label><select required="">
<option value="">Choose...</option>
<option>True</option>
<option>False</option>
</select></div>
<div><label for="Indifferent">Indifferent?</label><select required="">
<option value="">Choose...</option>
<option>True</option>
<option>False</option>
</select></div>
<div><label for="RunsFrom">Runs From?</label><select required="">
<option value="">Choose...</option>
<option>True</option>
<option>False</option>
</select></div>

<div class="container">
	<form method="POST">
		{% csrf_token %}
		<input class="btn btn-primary" type="submit" name = "Submit new sighting!">
        </form>
</div>

<div>
<footer>
<p>&copy; 2021 Handsome Inc.</p>
<ul>
<li><a href="#">Click for a surprise</a></li>
<li><a href="#">This link downloads a SQL Injection Attack</a></li>
<li><a href="#">Contact the creators</a></li>
</ul>
</footer></div>
</form></div>
</div>

{% endblock %}
