{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
        <title>Squirrel Tracker</title>
    </head>
    <body>
        <div>
          <h1>Ben and Matt Squirrel Tracker</h1>
        </div>

        <div>
            <p>
                <a href="/sightings/add/">Add New Sighting</a>
            </p>
            <p>
                <a href="/sightings/stats/">Stats on Sightings</a>
            </p>
        </div>

        <div>
            <ul>
                {% for sighting in sightings %}
                <li>
                    <a href="{% url 'update' sighting.UniqueSquirrelID %}">{{ sighting.UniqueSquirrelID }}</a>
                </li>
                    {% endfor %}
            </ul>
        </div>
    </body>
</html>
