{% extends 'sightings/index.html' %}

<!doctype html>
<html lang="en">

{% block main %}

      
      <main role="main">
      
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <h1 class="display-3">Squirrels Sighting Statistics<img
              src="https://64.media.tumblr.com/1af618a802314f310fa7ab819434533a/e01b0dd96c037713-3f/s1280x1920/e844d338b1728cc9f49a06950cbe42fe7f499032.png"
              alt="Squirrels Logo" class="logo" width="160" height="120" /></h1>
              
          
              By Age:
              <ul>
                {% for i in sq_age %}
		{% if i.Age == "?" %}
		<li>
		  Unknown:{{i.age_count}}
		</li>
		{% elif i.Age == "" %}
		<li>
		  No response:{{i.age_count}}
		</li>
		{% else %}
		<li>
                  {{i.Age}}:{{i.age_count}}
                </li>
		{% endif %}
                {% endfor %}
              </ul>
    
              <br>
              By Running:
              <ul>
                {% for i in sq_running %}
                <li>
                  {{i.Running}}:{{i.running_count}}
                </li>
                {% endfor %}
              </ul>
    
              <br>
              By Eating:
              <ul>
                {% for i in sq_eating %}
                <li>
                  {{i.Eating}}:{{i.eating_count}}
                </li>
                {% endfor %}
              </ul>
    
            
              <br>
              By Primary Fur Color:
              <ul>
                {% for i in sq_pfurcolor %}
		{% if i.Primary_Fur_Color == "" %}
		<li>
		  No response: {{i.primaryfurcolor_count}}
		</li>
		{% else %}
		<li>
                  {{i.Primary_Fur_Color}}:{{i.primaryfurcolor_count}}
                </li>
		{% endif %}
                {% endfor %}
              </ul>
           
            <br>
              By Kuks:
              <ul>
                {% for i in sq_kuks %}
                <li>
                  {{i.Kuks}}:{{i.kuks_count}}
                </li>
                {% endfor %}
              </ul>
            
    
            </div>
          </div>


          </div>
        </div>
{% endblock %}
