<!doctype html>
<html lang="en">

</html>

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'sightings/carousel.css' %}">
  <title>Squirrels Tracker</title>

</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #C1693C;">
    <a class="navbar-brand" href="#">Squirrels Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="../">Index </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/map/">Map</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/sightings/">Sightings<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sightings/add">Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sightings/stats">Statistics</a>
        </li>

      </ul>
    </div>
  </nav>

  <main role="main">
    <div class="jumbotron">
      <div class="container">
        <h3 class="display-3">Squirrels Tracker<img
            src="https://www.pngkey.com/png/full/60-607273_animals-baby-squirrel-cute-squirrel-squirrels-squirrel-squirrel.png"
            alt="Squirrels Logo" class="logo" width="160" height="120" /></h3>
        <p>All the squirrels ID are here. You can click on ID to look into the details and edit the infomation.</p>

        <div id='main-content' class="right-column col-md-12">
          <ul>
            {% for squirrel in sightings %}
            <li style="margin-right:40px; display:inline-block"><a href="{% url 'update' squirrel.UniqueSquirrelID %}">{{ squirrel.UniqueSquirrelID }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>


      
        </div>
        <br>
        <br>
        <p><a class="btn btn-primary btn-sm" href="/sightings/add" role="button">Add a New Sighting&raquo;</a></p>

      </div>
    </div>

    <div class='row'>
      <div class='header col-md-12' role="banner">
  </main>
  <footer class="container">
  
   
  </footer>
</body>

</html>
